*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes LOL {
  0%   { width: 0; height: 0; }

  100% { width: 100vw; height: 100vh;}
}
.container{
  -webkit-animation: LOL 1s ; /* Safari 4+ */
  -moz-animation:    LOL 1s; /* Fx 5+ */
  -o-animation:      LOL 1s; /* Opera 12+ */
  animation:         LOL 1s; /* IE 10+, Fx 29+ */
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.container{
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  border-radius: 7px;
  box-shadow: 8px 7px 31px 3px rgba(0,0,0,0.68);
}
header{
  display: flex;
  align-items: center;
  background: rgb(12,2,246);
  background: linear-gradient(90deg, rgba(12,2,246,1) 0%, rgba(120,9,121,1) 100%);
}
header h1{
  margin: 2rem;
  color: white;
  font-size: 2rem;
}
.section-1{
  margin: 2rem;
  

}
.section-2{
  margin: 2rem;
  border-top: 1px solid blue;
}
.section-3{
  border-top: 1px solid blue;
  margin: 2rem;
}
.section-4{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.form-2{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  
}
.form-4{
  width: 200px;
  display: flex;
  flex-direction: column;
  
}
input{
  margin: 0.5rem 0 0.5rem 0;
}

button{
  padding: 1rem;
  background-color: rgb(132, 24, 116);
  color: white;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
}